@import url('https://fonts.googleapis.com/css?family=Montserrat|Material+Icons&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    background: #f8f9fa;
}

.nav-left {
    display: flex;
    align-items: center;
    height: inherit;
}

.home-button {
    padding-bottom: 4px;
    font-size: 1.5em;
    color: rgba(0,0,0,.9);
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
}

.menu-button {
    padding-left: 30px;
    font-size: 1em;
    color: #181819;
    background: none;
    border: none;
    text-decoration: none;
}

.disconnect-button {
    color: #44b0ff;
    text-decoration: none;
}

.dropdown {
    display: flex;
    position: relative;
    height: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.90);
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

.wrapper-table {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

table * {
    position: relative;
}

table {
    width: 80%;
    border-collapse: collapse;
}

table thead tr {
    height: 60px;
    background: #36304a;
}

table tbody tr {
    height: 40px;
}

table tbody tr td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

th {
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
}

.wrapper-action-button {
    height: 50px;
    display: flex;
    justify-content: center;
}

.add-premium-button {
    display: flex;
    background: green;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.add-premium-button i {
    font-size: 64px;
}

@media screen and (max-width: 640px) {
	nav {
		flex-direction: column;
		padding: 0;
		height: 100px;
	}

	.nav-left {
		flex-direction: column;
		justify-content: space-around;
	}

	.nav-right {
		display: none;
	}

	.home-button {
		padding: 0;
	}

	.menu-button {
		padding: 0;
	}

	.dropdown {
		position: unset;
		height: unset;
	}

	.dropdown-content {
		top: 100px;
		left: 0;
		width: 100vw;
    }
    
    table {
        display: block;
    }

    table>*, table tr, table td, table th {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        height: auto;
        padding: 37px 0;
        border: 1px #ececec solid;
    }

    table tbody tr td {
        padding-left: 40%!important;
        margin-bottom: 24px;
    }

    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }

    table tbody tr td:nth-child(1):before {
        content: "id";
    }

    table tbody tr td:nth-child(2):before {
        content: "nom";
    }

    table tbody tr td:nth-child(3):before {
        content: "prenom";
    }

    table tbody tr td:nth-child(4):before {
        content: "pseudo";
    }
    table tbody tr td:nth-child(5):before {
        content: "montant";
    }
    table tbody tr td:nth-child(6):before {
        content: "date";
    }
    table tbody tr td:nth-child(7):before {
        content: "durée";
    }
    table tbody tr td:nth-child(8):before {
        content: "fin";
    }
    table tbody tr td:nth-child(9):before {
        content: "décisionnaire";
    }
    table tbody tr td:nth-child(10):before {
        content: "/back";
    }
    table tbody tr td:nth-child(11):before {
        content: "/nome";
    }
}
