@import url('https://fonts.googleapis.com/css?family=Montserrat|Material+Icons&display=swap');


body {
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    background: #f8f9fa;
}

.nav-left {
    display: flex;
    align-items: center;
    height: inherit;
}

.home-button {
    padding-bottom: 4px;
    font-size: 1.5em;
    color: rgba(0,0,0,.9);
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
}

.menu-button {
    padding-left: 30px;
    font-size: 1em;
    color: #181819;
    background: none;
    border: none;
    text-decoration: none;
}

.disconnect-button {
    color: #44b0ff;
    text-decoration: none;
}

.dropdown {
    display: flex;
    position: relative;
    height: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 50px;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.90);
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 640px) {
	nav {
		flex-direction: column;
		padding: 0;
		height: 100px;
	}

	.nav-left {
		flex-direction: column;
		justify-content: space-around;
	}

	.nav-right {
		display: none;
	}

	.home-button {
		padding: 0;
	}

	.menu-button {
		padding: 0;
	}

	.dropdown {
		position: unset;
		height: unset;
	}

	.dropdown-content {
		top: 100px;
		left: 0;
		width: 100vw;
	}
}